.eventDetails-h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--main-text-color);
}
.eventDetails-Info-Flex-wrap {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    .eventDetails-innerBox-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .eventDetails-h3 {
            font-size: 1rem;
            font-weight: 500;
            line-height: 18px;
            color: var(--main-text-color);
        }
        .eventDetails-p {
            font-weight: 200;
            font-size: 0.75rem;
            color: #747688;
        }
    }
}

.eventDetail-wrapper {
    padding-bottom: 14vh;
    font-family: "Inter";
    text-align: left;
    // ======== Styling der HOST-EventDetail-Page ======
    .eventDetail-Host-wrapper {
        .eventDetail-hero-wrap {
            position: relative;
            height: 150px;
            .eventDetail-header-wrap {
                padding: 16px 24px;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                color: white;
                .eventDetails-hl {
                    font-weight: 400;
                    width: 75%;
                    font-size: 1.5rem;
                    justify-self: flex-start;
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: black;
                }
            }
            .eventPic {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .eventDetails-info-wrap {
            padding: 16px;
            .eventDetails-eventTitle {
                text-align: left;
                color: var(--main-text-color);
                font-size: 2.1rem;
                font-weight: 100;
                margin-bottom: 28px;
            }
            .eventDetails-eventInfosForHost {
                padding-inline: 8px;
                margin-bottom: 12px;
                .flex-div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 56px;
                    &:nth-of-type(1) {
                        margin-top: 8px;
                    }
                }
            }

            .eventDetail-hostInfoBox {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                margin-top: 28px;
                gap: 12px;
                transition: 0.2s;
                .eventDetails-hostPic {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    border-radius: 8px;
                }
                .eventDetail-hostInfo-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .eventDetails-h4 {
                        color: var(--main-text-color);
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 25px;
                    }
                    .eventDetails-p {
                        font-weight: 200;
                        font-size: 0.75rem;
                        color: #747688;
                    }
                }
                .eventDetails-host-button {
                    padding: 6px;
                    margin: 0 0 0 auto;
                    font-family: "Inter";
                    background-color: #876afd;
                    border: none;
                    border-radius: 4px;
                    color: white;
                    &:hover {
                        background-color: #876afd;
                        cursor: pointer;
                    }
                }
            }
            .eventDetails-h5 {
                margin-top: 20px;
                font-size: 18px;
                font-weight: 500;
                line-height: 34px;
                color: var(--main-text-color);
            }
            p {
                color: var(--main-text-color);
                font-size: 1rem;
                font-weight: 200;
                line-height: 28px;
            }
        }
        .btn-outlined {
            margin-inline: auto;
            width: 90%;
        }
    }
    // ======== Styling der USER-EventDetail-Page ======
    .eventDetail-User-wrapper {
        .eventDetail-hero-wrap {
            position: relative;
            margin-bottom: 16px;
            height: 220px;
            .eventDetail-header-wrap {
                padding: 16px 24px;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                color: white;

                .eventDetails-hl {
                    font-weight: 400;
                    width: 75%;
                    font-size: 1.5rem;
                    justify-self: flex-start;
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: black;
                }
                .bookMark {
                    width: 36px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .eventPic {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .eventDetails-registered-box-wrap {
                position: absolute;
                bottom: -8%;
                left: 12.5%;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 75%;
                background-color: var(--main-bg-color);
                border-radius: 8px;
                box-shadow: 0px 0px 10px 0.5px #668be9;
                .registered-box-text {
                    color: #668be9;
                    font-size: 0.9375rem;
                    font-weight: 500;
                }
            }
        }
        .eventDetails-info-wrap {
            padding: 16px;
            .eventDetails-eventTitle {
                text-align: left;
                color: var(--main-text-color);
                font-size: 2.1rem;
                font-weight: 100;
                margin-bottom: 28px;
            }

            .eventDetail-hostInfoBox {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                margin-top: 28px;
                gap: 12px;
                transition: 0.2s;
                .eventDetails-hostPic {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    border-radius: 8px;
                }
                .eventDetail-hostInfo-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .eventDetails-h4 {
                        color: var(--main-text-color);
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 25px;
                    }
                    .eventDetails-p {
                        font-weight: 200;
                        font-size: 0.75rem;
                        color: #747688;
                    }
                }
                .eventDetails-host-button {
                    padding: 6px;
                    margin: 0 0 0 auto;
                    font-family: "Inter";
                    background-color: #876afd;
                    border: none;
                    border-radius: 4px;
                    color: white;
                    &:hover {
                        background-color: #876afd;
                        cursor: pointer;
                    }
                }
            }
            .eventDetails-h5 {
                margin-top: 20px;
                font-size: 18px;
                font-weight: 500;
                line-height: 34px;
                color: var(--main-text-color);
            }
            p {
                color: var(--main-text-color);
                font-size: 1rem;
                font-weight: 200;
                line-height: 28px;
            }
        }
    }
}
