.RandomEventContainer {
    display: flex;
    padding:8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:16px;
    width: 327px;
    height: 112px;
    background-color: var(--main-bg-color);
    position: relative;
    margin: 0 auto;
    .RandomEventPic {
        border-radius: 8px;
    }
    .RandomEventDetails {
        position: relative;
        padding: 8px;
        .RandomEventDateTag {
            color: var(--main-akcent-color);
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .RandomEventTitleTag {
            font-size: 18px;
            font-weight: 600;
        }
        .RandomEventLocationIconContainer {
            bottom: 8px;
            position: absolute;
            display: flex;
            gap: 5px;
            align-items: center;
            .RandomEventLocationIcon {
                width: 12px;
            }
            .RandomEventLocationIconText {
                font-size: 13px;
                font-weight: 100;
            }
        }
    }
    .RandomEventBookmarkContainer {
        width: 36px;
        height: 36px;
        background-color: var(--main-bg-color);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px 16px 8px 8px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items:center;
        justify-content: center;
    }
}