.user-edit-profile-wrapper {
    padding: 7%;
    display: flex;
    flex-direction: column;

    // Arrow back & Title
    .top-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow-back {
            width: 22px;
        }

        p {
            visibility: hidden;
        }
    }

    // Profile image
    .profile-pic-container {
        margin-top: 8px;
        height: 124px;
        display: flex;
        justify-content: center;
        align-items: center;

        .clip {
            padding-top: 10%;
            width: 100px;
            clip-path: circle();
        }
    }

    .edit-name-about-wrapper {
        margin-block: 32px 18px;

        .edit-input-container {
            margin-bottom: 20px;
            padding: 1em;
            display: flex;
            align-items: center;
            gap: 16px;
            border-radius: 8px;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

            .edit-input-icon {
                width: 14px;
            }

            // .edit-input-text {
            //     width: 100%;
            //     border: none;
            //     font-family: "Inter";
            //     font-size: 1em;
            //     font-weight: 100;
            //     outline: none;
            //     color: var(--main-text-color);

            //     &::placeholder {
            //         font-family: "Inter";
            //         font-weight: 100;
            //         color: var(--secondary-text-color);
            //         line-height: 25px;
            //     }
            // }
        }

        .edit-textarea-container {
            padding: 1em;
            display: flex;
            align-items: start;
            gap: 10px;
            border-radius: 8px;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

            img {
                padding-top: 4px;
            }

            textarea {
                border: none;
                font-family: "Inter";
                font-size: 1em;
                font-weight: 100;
                line-height: 25px;
                color: var(--main-text-color);

                &::placeholder {
                    font-family: "Inter";
                    font-size: 1rem;
                    font-weight: 100;
                    color: var(--secondary-text-color);
                    line-height: 25px;
                }
            }
        }
    }

    .user-profile-item-container {
        margin-block: 18px;

        .interests-items-container {
            padding-block: 8px;
            width: fit-content;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;

            .interests-item,
            .add-interest-item {
                padding: 5px 10px;
                width: fit-content;
                display: flex;
                justify-content: space-between;
                color: var(--button-text-color);
                font-weight: 500;
                font-size: 13px;
                border-radius: 5px;
            }

            .interests-item {
                gap: 12px;
                background-color: var(--main-akcent-color);
            }

            .add-interest-item {
                gap: 4px;
                background-color: var(--main-accent-color-alpha);
                color: var(--main-akcent-color);
                text-transform: uppercase;
            }

            // .add-interst-item {

            // }
        }

        .edit-address-wrapper {
            padding: 1em;
            display: flex;
            align-items: start;
            gap: 14px;
            border-radius: 8px;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

            .location-pin-container {
                padding-top: 4px;
            }

            .address-container {
                p {
                    margin-bottom: 4px;

                    .break-point::before {
                        content: "hiddentext";
                        font-size: 0;
                        display: block;
                        line-height: 0;
                    }
                }

                input:nth-of-type(1) {
                    padding-top: 4px;
                }

                .zip-city-container {
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    input:nth-of-type(1) {
                        flex-basis: 100px;
                        letter-spacing: 1px;
                    }
                }

                .locationContainer {
                    //         width: 175px;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    position: relative;

                    .locationDropdownContainer {
                        display: flex;
                        justify-content: space-between;
                        gap: 12px;

                        .locationTitle {
                            // font-size: 0.75em;
                            // ======= Color change??????? ========
                            font-weight: 100;
                            margin-right: 3px;
                        }
                    }

                    .dropdownAddressMenuContainer {
                        z-index: 20;
                        position: fixed;
                        width: 100%;
                        height: 100vh;
                        top: -10px;
                        left: 0;
                        .dropdownAddressMenu {
                            position: absolute;
                            // top: 44px;
                            // ====== Positionierung passt nicht ======
                            bottom: 140px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 65%;
                            // border: 2px solid var(--main-akcent-color);
                            border-radius: 5px;
                            // box-shadow: 5px 5px 15px black;
                            display: flex;
                            flex-direction: column;
                            background-color: var(--main-bg-color);
                            .HomeDropdownSelections {
                                padding: 8px;
                                // font-size: 0.75em;
                                &:hover {
                                    background-color: var(--main-akcent-color);
                                    color: var(--button-text-color);
                                }
                            }
                            .DeinStandortTag {
                                // background-color: var(--unfocused-element-color);
                                // color: var(--button-text-color);
                                color: var(--main-text-color);
                                font-size: 1rem;
                                // font-family: "Inter"; // Funktioniert nicht!!!
                                border-radius: 5px 5px 0 0;
                            }
                        }
                    }

                    .showCurrentLocation {
                        color: var(--main-text-color);
                        font-family: "Inter";
                    }
                }
            }
        }
    }

    // General input field style
    .edit-input-text {
        width: 100%;
        border: none;
        font-family: "Inter";
        font-size: 1em;
        font-weight: 100;
        outline: none;
        color: var(--main-text-color);

        &::placeholder {
            font-family: "Inter";
            font-size: 1em;
            font-weight: 100;
            color: var(--secondary-text-color);
            line-height: 25px;
        }
    }

    .text-light {
        font-weight: 100;
        color: var(--secondary-text-color);
        line-height: 25px;
    }

    button {
        margin-bottom: 6rem;
    }
}
