.user-edit-profile-wrapper {
    padding: 7%;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;

    // Arrow back & Title
    .top-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow-back {
            width: 22px;
        }

        p {
            visibility: hidden;
        }
    }

    // Profile image
    .profile-pic-container {
        margin-top: 8px;
        height: 124px;
        display: flex;
        justify-content: center;
        align-items: center;

        .clip {
            // padding-top: 10%;
            width: 100px;
            clip-path: circle();
        }
    }
    .editProfile-form {
        .edit-input-text {
            width: 100%;
            border: none;
            font-family: "Inter";
            font-size: 1em;
            font-weight: 100;
            outline: none;
            color: var(--main-text-color);

            &::placeholder {
                font-family: "Inter";
                font-size: 1em;
                font-weight: 100;
                color: var(--secondary-text-color);
                line-height: 25px;
            }
        }
        .edit-name-about-wrapper {
            margin-block: 32px 18px;

            .edit-input-container {
                margin-bottom: 20px;
                padding: 1em;
                display: flex;
                align-items: center;
                gap: 16px;
                border-radius: 8px;
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

                .edit-input-icon {
                    width: 14px;
                }
            }

            .edit-textarea-container {
                padding: 1em;
                display: flex;
                align-items: start;
                gap: 10px;
                border-radius: 8px;
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

                img {
                    padding-top: 4px;
                }

                textarea {
                    border: none;
                    font-family: "Inter";
                    font-size: 1em;
                    font-weight: 100;
                    line-height: 25px;
                    color: var(--main-text-color);

                    &::placeholder {
                        font-family: "Inter";
                        font-size: 1rem;
                        font-weight: 100;
                        color: var(--secondary-text-color);
                        line-height: 25px;
                    }
                }
            }
        }
        .user-profile-formItem-container {
            .edit-address-wrapper {
                padding: 1em;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 14px;
                border-radius: 8px;
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

                .editProfile_input-group-adress-field {
                    display: flex;
                    align-items: center;
                    padding: 1em;
                    border-radius: 8px;

                    .addevent_input-icon {
                        margin-right: 16px;
                    }

                    .addevent_input {
                        border: none;
                        font-size: 1em;
                        font-weight: 100;
                        outline: none;

                        &::placeholder {
                            color: var(--icon-standard-color);
                            font-weight: 100;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
        .editProfile_input-group {
            padding: 1em;
            border-radius: 8px;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
            margin-bottom: 20px;
            .addFile-profilePic {
                margin-bottom: 8px;

                .addevent_input-file-text {
                    font-size: 1em;
                    color: var(--icon-standard-color);
                }
            }
        }
    }
}

.user-profile-wrapper {
    padding: 7%;
    padding-bottom: 15vh;

    // Profile image
    .profile-pic-container {
        margin-top: 8px;
        height: 124px;
        display: flex;
        justify-content: center;
        align-items: center;

        .clip {
            // padding-top: 10%;
            width: 100px;
            clip-path: circle();
        }
    }

    button {
        margin: 2.5rem auto;
    }

    .user-profile-item-container {
        margin-block: 18px;

        .interests-items-container {
            padding-block: 8px;
            width: fit-content;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;

            .interests-item {
                display: inline;
                width: fit-content;
                padding: 5px 10px;
                background-color: var(--main-akcent-color);
                color: var(--button-text-color);
                font-weight: 500;
                font-size: 13px;
                border-radius: 5px;
            }
        }

        .address-wrapper {
            padding-block: 8px;
            display: flex;
            align-items: center;
            gap: 24px;

            .location-pin-container {
                flex-basis: 50px;
                text-align: center;

                .location-pin-adjust {
                    padding-top: 4px;
                    width: 20px;
                }
            }

            .address-container {
                p {
                    margin-bottom: 4px;

                    .break-point::before {
                        content: "hiddentext";
                        font-size: 0;
                        display: block;
                        line-height: 0;
                    }
                }
            }
        }
    }

    .text-light {
        font-weight: 100;
        color: var(--secondary-text-color);
        line-height: 25px;
    }
}
