.user-profile-wrapper {
    // border: 3px solid palevioletred;
    padding: 7%;

    // Profile image
    .profile-pic-container {
        // border: 3px solid green;
        margin-top: 8px;
        height: 124px;
        display: flex;
        justify-content: center;
        align-items: center;

        .clip {
            padding-top: 10%;
            width: 100px;
            clip-path: circle();
        }
    }

    // Follower - Following
    .follow-container {
        margin: 0 auto;
        padding-top: 24px;
        width: 200px;
        display: flex;
        align-items: center;
        text-align: center;

        .follow-block {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .line {
            width: 1px;
            height: 32px;
            background-color: var(--secondary-text-color);
        }
    }

    button {
        margin: 1.7rem auto;
    }

    .user-profile-item-container {
        margin-block: 18px;

        .interests-items-container {
            padding-block: 8px;
            width: fit-content;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;

            .interests-item {
                display: inline;
                width: fit-content;
                padding: 5px 10px;
                background-color: var(--main-akcent-color);
                color: var(--button-text-color);
                font-weight: 500;
                font-size: 13px;
                border-radius: 5px;
            }
        }

        .address-wrapper {
            padding-block: 8px;
            display: flex;
            align-items: start;
            gap: 24px;

            .address-container {
                p {
                    margin-bottom: 4px;

                    .break-point::before {
                        content: "hiddentext";
                        font-size: 0;
                        display: block;
                        line-height: 0;
                    }
                }
                .no-address {
                    padding-bottom: 8px;
                    font-weight: 100;
                    color: var(--secondary-text-color);
                }
            }
        }
    }

    .text-light {
        font-weight: 100;
        color: var(--secondary-text-color);
        line-height: 25px;
    }
}
