* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/*#00ECAA
#44ABD4
#668BE9
#876AFD
#777BF3
#7254EE
#5D3EDE
#1F1F1F
#FFB21C
#848484
#A6A6A6*/

body {
    font-family: "Inter";
}